.header {
  display: flex;
  background-color: $primary-color;
  padding: 0 2rem;
  color: white;

  &__title {
    @include flex-center;
    font-family: $primary-font;

    &--icon {
      @include flex-center;
      margin-right: 0.6rem;
    }
  }

  &__profile {
    @include flex-center;
    margin-left: auto;
    font-size: x-large;

    & button {
      background-color: transparent;
      border: none;
      color: white;
      @include flex-center;
      margin-right: 0.4rem;
      cursor: pointer;
    }
  }
}
